<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增學生</title>
</head>
<body>
    <form method="POST" action="/students">
        <label for="name">姓名：</label>
        <input type="text" name="name" />
        <br>
        <label for="age">年齡：</label>
        <input type="number" name="age" />
        <br>
        <label for="merit">merit獎學金：</label>
        <input type="number" name="merit" />
        <br>
        <label for="other">other獎學金：</label>
        <input type="number" name="other" />
        <br>
        <button>新增學生</button>
    </form>
    <a href="/students">Home</a>
    
</body>
</html>